asgiref==3.5.2
astroid==2.12.5
asttokens==2.0.8
atomicwrites==1.4.1
attrs==22.1.0
autopep8==1.7.0
backcall==0.2.0
boto3==1.24.72
botocore==1.27.72
certifi==2022.6.15
colorama==0.4.5
debugpy==1.6.3
decorator==5.1.1
dill==0.3.5.1
distlib==0.3.6
dj-database-url==1.0.0
Django==4.1.1
django-crispy-forms==1.14.0
-e git+https://github.com/jazzband/django-debug-toolbar.git@6a34e007e773d1243e3c7ba0b0ee07e4b45514ba#egg=django_debug_toolbar
django-environ==0.9.0
django-storages==1.13.1
entrypoints==0.4
executing==1.0.0
filelock==3.8.0
gunicorn==20.1.0
iniconfig==1.1.1
ipykernel==6.15.2
ipython==8.4.0
isort==5.10.1
jedi==0.18.1
jmespath==1.0.1
jupyter-core==4.11.1
jupyter_client==7.3.5
lazy-object-proxy==1.7.1
matplotlib-inline==0.1.6
mccabe==0.7.0
nest-asyncio==1.5.5
packaging==21.3
parso==0.8.3
pickleshare==0.7.5
Pillow==9.2.0
pipenv==2022.8.30
platformdirs==2.5.2
pluggy==1.0.0
prompt-toolkit==3.0.30
psutil==5.9.1
psycopg2==2.9.3
pure-eval==0.2.2
py==1.11.0
pycodestyle==2.9.1
Pygments==2.13.0
pylint==2.15.0
pyparsing==3.0.9
pytest==7.1.2
python-dateutil==2.8.2
pywin32==304
pyzmq==23.2.1
s3transfer==0.6.0
six==1.16.0
sqlparse==0.4.2
stack-data==0.5.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.4
tornado==6.2
traitlets==5.3.0
tzdata==2022.2
urllib3==1.26.12
virtualenv==20.16.4
virtualenv-clone==0.5.7
wcwidth==0.2.5
whitenoise==6.2.0
wrapt==1.14.1
